In [7]:
import pandas as pd

# Load multiple CSV files and merge them
df1 = pd.read_csv("coin_gecko_2022-03-16.csv")
df2 = pd.read_csv("coin_gecko_2022-03-17.csv")

#merge the dataframes bases on coin name with all the value assiciate with one coin in one raw
df = pd.concat([df1, df2], ignore_index=True)

# The symbol_x and symbol_y and coin name are almost same value so we will drop one of them

df = df.drop('symbol', axis=1)

df.to_csv('Merge_file.csv', index=False)

df.head()

,coin,price,1h,24h,7d,24h_volume,mkt_cap,date
0,Bitcoin,40859.460000,0.022,0.030,0.055,3.539076e+10,7.709915e+11,2022-03-16
1,Ethereum,2744.410000,0.024,0.034,0.065,1.974870e+10,3.271044e+11,2022-03-16
2,Tether,1.000000,-0.001,-0.001,0.000,5.793497e+10,7.996516e+10,2022-03-16
3,BNB,383.430000,0.018,0.028,0.004,1.395854e+09,6.404382e+10,2022-03-16
4,USD Coin,0.999874,-0.001,0.000,-0.000,3.872274e+09,5.222214e+10,2022-03-16